@charset "utf-8";

$widthAll: 1260px;
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
//头部
#top{
    width: 100%;
    height: 100%;
    header{
        width: $widthAll;
        height: 40px;
        background: lightgray;
        line-height: 40px;
        font-size: 18px;
        color: gray;
        margin: 0 auto;
        span{
            float: left;
            margin-left: 30px;        
        }
         p{
            float: right;        
            margin-right: 30px;        
            a{
                margin-right: 10px;
                text-decoration: none;
                color: gray;
            }       
        }
    }
}

//搜索框部分
#search{
    width: 100%;
    height: 100%;
    #search-content{
        width: $widthAll;
        height: 80px;
        margin: 0 auto;
        #logo{
            width: 200px;
            height: 80px;
            background: red;
            margin-left: 30px;
            float: left;
        }
        #txt{
            width: 480px;
            height: 30px;
            margin-top: 24px;
            margin-left: 100px;
            border: 2px solid red;
            padding-left: 20px;
        }
        #btn{
            width: 60px;
            height: 34px;
            background: red;
            border: none;
            position: absolute;
            margin-top: 24px;
            color: #fff;
        }
        img{
            float: right;
            height: 80px;
        }
    }
}

//广告图部分
#banner{
    width: 100%;
    height: 100%;
    text-align: center;
    img{
        width: $widthAll;      
    }
}

//导航部分
#nav{
    width: 100%;
    height: 500px;   
    background:url(../images/suvbg2.jpg) no-repeat center;
    #first{
        width: 1160px;
        height: 100px;
        margin: 0 auto;
        border-bottom: 1px solid lightgray;
        li{
            float: left;
            list-style: none;
            padding: 0 21px;
            text-align: center;
            margin-top: 25px;
            a{
                span{
                    display: block;
                    width: 44px;
                    height: 26px;
                    background: url(../images/cars.png) no-repeat 0px 0px;
                }               
                text-decoration: none;
                color: black;
                &:hover{
                    color: blue;
                }            
            }
        }
    }
    #first li:nth-child(2) a span{
        background: url(../images/cars.png) no-repeat 0px -25px;
    }
    #first li:nth-child(3) a span{
        background: url(../images/cars.png) no-repeat 0px -52px;
    }
    #first li:nth-child(4) a span{
        background: url(../images/cars.png) no-repeat 0px -78px;
    }
    #first li:nth-child(5) a span{
        background: url(../images/cars.png) no-repeat 0px -104px;
    }
    #first li:nth-child(6) a span{
        background: url(../images/cars.png) no-repeat 0px -130px;
    }
    #first li:nth-child(7) a span{
        background: url(../images/cars.png) no-repeat 0px -155px;
    }
    #first li:nth-child(8) a span{
        background: url(../images/cars.png) no-repeat 0px -180px;
    }
    #first li:nth-child(9) a span{
        background: url(../images/cars.png) no-repeat 0px -206px;
    }
    #first li:nth-child(10) a span{
        background: url(../images/cars.png) no-repeat 0px -234px;
    }
    #first li:nth-child(11) a span{
        background: url(../images/cars.png) no-repeat 0px -260px;
    }
    #first li:nth-child(12) a span{
        background: url(../images/cars.png) no-repeat 0px -288px;
    }
    #first li:nth-child(13) a span{
        background: url(../images/cars.png) no-repeat 0px -314px;
    }
    
    
    #second{
        width: 1160px;
        height: 50px;
        margin: 0 auto;
        border-bottom: 2px solid lightgray;
        position: relative; 
        li{          
            float: left;
            list-style: none;
            padding: 0 24px;
            line-height: 50px; 
                    
            a{
                display: block;
                height: 50px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 18px;
                &:hover{
                    color: red;
                    border-bottom: 2px solid red;
                }    
            }
            ul{
                width: 1160px;
                height: 150px;
                display: none;
                position: absolute;
                top: 52px;
                left: 0px;
                li{
                    width: 1110px;
                    height: 50px;
                    border-bottom: 1px solid lightgray;                  
                    a{
                        width: 100px;
                        font-size: 16px;
                        float: left;
                        text-align: left;
                        font-weight: normal;
                        padding-left: 50px;
                        &:hover{
                            border: none;
                        }
                        
                    }
                }   
            }
            .show{
                display: block;    
            }
        }
    }
    
    #photo{
        width: 1160px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        left: 0px;
        top: 156px;
        #last{
            width: 1160px;
            height: 200px;
            position: absolute;
            top: 0px;
            left: 0px;
            
            border-bottom: 1px solid lightgray;
            li{
                float: left;
                list-style: none;
                margin: 10px 10px;
                height: 200px;
                width: 173px;
                text-align: center;
                img{
                    width: 173px;
                    height: 140px;
                }
                span{
                    a{
                        text-decoration: none;
                        color: black;
                        &:hover{
                            color: red;
                        }
                    }
                    display: block;
                    margin-top: 10px;
                }
            }      
        }       
    }   
}

//轮播图部分
#autoPlay{
    width: $widthAll;
    height: 440px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    ul{
        width: 1200px;
        height: 440px;
        position: absolute;
        left: 30px;
        top: 0;
        overflow: hidden;
         li{
            width: $widthAll;
            height: 440px;
            float: left;
            list-style: none;
            div:nth-child(1) {
                position: absolute;
                left: 0px;
                top: 1px;
            }
            div:nth-child(2) {
                position: absolute;
                left: 0px;
                top: 209px;
            }
            div:nth-child(3) {
                position: absolute;
                left: 310px;
                top: 0px;
            }
            div:nth-child(4) {
                position: absolute;
                left: 900px;
                top: 1px;
            }
            div:nth-child(5) {
                position: absolute;
                left: 900px;
                top: 209px;
            }
        }       
    }
    #quanquan{
        width: 160px;
        height: 50px;
        position: absolute;
        left: 550px;
        top: 410px;
        li{
            width: 10px;
            height: 10px;
            background: darkslategray;
            border-radius: 10px;
            margin: 20px 8px;    
        }
        .active{
            width: 60px;
            background: red;
        }
    }
}

//易口碑图片
#WOM{
    width: 100%;
    height: 100%;   
    img{
        width: 1200px;
        height: 80px;
        margin: 16px auto 0px;
        display: block;
    }
}

//新车上市
#newCars{
    width: 100%;
    height: 100%;
    div:nth-child(1){
        width: 1200px;
        height: 60px;
        margin: 0 auto;
        line-height: 50px;
        border-bottom: 4px solid red;
        text-align: center;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid lightgray;
        h2{
            float: left;
            margin-left: 30px;
            font-size: 46px;
            color: red;
        }
        h3{
            float: right;
            margin-right: 150px;
            font-size: 38px;
            color: red;
        }
        a{
            text-decoration: none;
            font-size: 18px;
            color: black;
            margin-left: 20px;
            &:hover{
                color: red;
            }
        }
    }
    #box{
        width: 1200px;
        height: 550px;
        margin: 0 auto;
        position: relative;
        #box-left{
            width: 450px;
            height: 500px;
            background: red;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        #box-center{
            width: 400px;
            height: 522px;
            margin-right: 50px;           
            position: absolute;
            left: 450px;
            top: 22px;
            dl{
                overflow: hidden;
                margin-bottom: 20px;
                border-bottom: 1px solid lightgray;
                dt{
                    float: left;
                    img{
                        height: 150px;
                    }
                }
                dd{
                    float: left;
                    margin-left: 20px;
                    a{
                        line-height: 40px;
                        font-size: 24px;
                        display: block;
                        margin-top: 10px;
                        text-decoration: none;
                        color: black;
                        &:hover{
                            color: red;
                        }
                    }
                    p:nth-child(2){
                        line-height: 30px;
                        font-size: 18px;
                        color: red;
                    }
                    p:nth-child(3){
                        line-height: 30px;
                        font-size: 14px;
                        color: darkgray;
                    }
                    p:nth-child(4){
                        a{
                            font-size: 16px;
                            color: black;
                            &:hover{
                                color: red;
                            }
                        } 
                        line-height: 40px;               
                        margin-top: 10px;
                    }
                }                 
            }           
        }
        #box-right{
            width: 300px;
            height: 522px;
            position: absolute;
            left: 900px;
            top: 22px;
            ul{
                
            
                li{
                    list-style: none;
                    margin-bottom: 2px;
                    text-align: center;
                    a{
                        width: 80px;
                        height: 56px;
                        display: block;
                        text-decoration: none;
                        background: darkgray;
                        line-height: 60px;
                        color: black;
                        &:hover{
                            color: #fff;
                            font-weight: bold;
                            background: red;
                        }
                    }
                    div{
                        position: absolute;
                        left: 90px;
                        top: 0px;
                        display: none;
                        p{
                            width: 200px;
                            overflow: hidden;
                            border-top: 1px solid lightgray;
                            border-bottom: 1px solid lightgray;
                            img{
                                margin: 10px 10px 0px 10px;
                                height: 70px;
                                float: left;
                            }
                            span{
                                float: left;
                                line-height: 90px;
                            }
                            b{
                                line-height: 46px;
                                float: left;
                                font-weight: normal; 
                            }
                            a{
                                height: 46px;
                                line-height: 46px;
                                margin-left: 30px;
                                text-align: left;
                                background: #fff; 
                                float: left;                                
                                &:hover{
                                    color: red;
                                    background: #fff;
                                }
                            }
                        }
                    }
                    .show{
                        display: block;
                    }
                    
                }
            }           
        }
    }
}

//问答图片
#quiz{
    width: 100%;
    height: 100%;   
    img{
        width: 1200px;
        height: 80px;
        margin: 16px auto 0px;
        display: block;
    }
}

//汽车问答
#question{
    div:nth-child(1){
        width: 1200px;
        height: 60px;
        margin: 0 auto;
        line-height: 50px;
        border-bottom: 4px solid red;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid lightgray;
        h2{
            float: left;
            margin-left: 30px;
            font-size: 46px;
            color: red;
        }
        h3{
            float: left;
            margin-left: 50px;
            font-size: 38px;
            color: red;
        }
        p{
            font-size: 16px;
            color: gray;
            float: left;
            margin: 14px 0px 0px 290px;
            span{
                font-size: 14px;
                color: red;
            }
        }
        a{
            text-decoration: none;
            font-size: 16px;
            color: black;
            margin-left: 20px;
            float: left;
            margin-top: 14px;
            &:hover{
                color: red;
            }
        }
    }
    #bottom{
        width: 1200px;
        margin: 0 auto;
        margin-top: 20px;
        overflow: hidden;
        #pic{
            width: 360px;
            height: 280px;
            overflow: hidden;
            margin: 0px 0px 0px 0px;
            position: relative;
            float: left;
            ul{
                width: 360px;
                height: 230px;
                position: absolute;
                left: 0px;
                top: 0px;
                li{
                    list-style: none;
                    display: none;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    img{
                        width: 360px;
                        display: block;
                    }
                }
                .show{
                    display: block;
                }
            }
            div{
                width: 360px;
                height: 100px;
                background: red;
                margin-top: 180px;
            }
        }
        #seek{
            width: 480px;
            height: 305px;
            float: left;
            
            #_txt{
                width: 300px;
                height: 30px;
                border: 2px solid red;
                margin: 0px 50px 10px;
                padding-left: 20px;
            }
            #_btn{
                width: 60px;
                height: 34px;
                background: red;
                border: none; 
                position: absolute;
                left: 766px;  
                color: #fff;                          
            }
            p{
                height: 40px;
                margin-left: 50px;
                a:nth-child(1){
                    padding: 0px 20px 0px 0px;
                    border-right: 1px solid gray;
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: red;
                    }
                }
                a:nth-child(2){
                    padding: 0px 0px 0px 20px;
                    border-left: 1px solid gray;
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
        #app{
            width: 360px;
            height: 305px;
            float: left;
            background: red;
        }
    }   
}

//汽车视频
#video{
    width: 1200px;
    height: 574px;
    margin: 0px auto 10px;
    position: relative;     
    div:nth-child(1){
        width: 1200px;
        height: 60px;
        margin: 0 auto;
        line-height: 50px;
        border-top: 1px solid lightgray;
        border-bottom: 4px solid red;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid lightgray;
        h2{
            float: left;
            margin-left: 30px;
            font-size: 46px;
            color: red;
        }
        h3{
            float: right;
            margin-right: 170px;
            font-size: 38px;
            color: red;
        }
        a{
            text-decoration: none;
            font-size: 16px;
            color: black;
            margin-left: 570px;
            float: left;
            margin-top: 14px;
            &:hover{
                color: red;
            }
        }
    }  
    ul{
        margin-top: 10px;
        height: 50px;
        position: relative;
        li{
            width: 132px;
            height: 50px;
            list-style: none;
            float: left;  
            position: relative; 
            margin-right: 10px;
            a{
                width: 130px;
                height: 50px;
                display: block;
                background: lightgray;
                margin-right: 10px;
                text-align: center;
                line-height: 50px;
                text-decoration: none;
                font-size: 18px;
                color: black;
                &:hover{
                    background: red;
                    color: #fff;                    
                }
            }
            
        }
        
    }
    
    .show{
        width:840px;
        height:420px;
        position: absolute;
        left: 0px;
        top: 145px;
        overflow:hidden;                               
        div:nth-child(1){
            width: 360px;
            height: 420px;
            padding: 0px;
            margin-top: 10px;
            float: left;
            position:relative;                   
            p{
                width: 360px;
                height: 120px;
                display: block;
                background: red;
                position: absolute;
                left: 0px;
                bottom: 0px;
               
            }
        }
        div:nth-child(2){
            width:480px;
            float:left;
            dl{   
                width: 230px;
                float: left;
                margin-left: 10px;
                margin-top: 10px;
                dt{    
                    width: 230px;
                    img{
                        display:block;
                        width:100%;
                        height:100%;
                    }
                }
                dd{
                    width:230px;
                    height:50px;
                    background:rgba(0,0,0,0.5);
                    a{
                        display:block;
                        width:100%;
                        height:100%;
                        color:#fff;
                    }
                }
                
            }
        }
            
        
    }
    
    
    #videoArea{
        width:320px;
        position:absolute;
        right:0px;
        top:95px;
        p{
            width:100%;
            height:50px;
            a{
                text-decoration:none;
                padding-left:30px;
                height:100%;
                line-height:50px;
                display:block;
                background:red;
                opacity:0.7;
                color:#fff;
                &:hover{
                    background:red;
                    opacity:1;
                }
            }
        }
        #content{
            width:100%;
            height:370px;
            background:#D3D3D3;
        }
        #more{
            display:block;
            margin-top:8px;
            width:318px;
            height:40px;
            text-align:center;
            line-height:40px;
            border:1px solid #A9A9A9;
            &:hover{
                color:red;
                border:1px solid red;
            }
        }
    }
}

//汽车报价图片
#offer{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
}

//尾部
#footer{
    width: 1200px;
    height: 300px;
    padding-top: 30px;
    background: #21488c;
    margin: 0 auto;
    div:nth-child(1){
        width: 380px;
        height: 250px;
        float: left;
        border-right: 1px dotted #FFFF00;
        p{
            margin: 0px 0px 40px 30px;
            a{
                color: #5884cf;
                text-decoration: none;
            }
        }
    }
    div:nth-child(2){
        width: 460px;
        height: 300px;
        float: left;
        margin-left: 20px;
        ul{
            float: left;
            margin: 30px 0px 0px 40px;
            h2{
                color: #5884cf;
                margin-bottom: 40px;
            }
            li{
                height: 40px;
                color: #fff;
                margin-left: 20px;
                a{
                    color: #fff;
                    font-size: 16px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    div:nth-child(3){
        width: 338px;
        height: 300px;
        float: left;
        img{
            margin: 20px 14px 0px;
        }
    }
}
